.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


h1 {
  display: flex;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rbc-calendar {
  height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
}

.calendar-container {
  flex: 1;
  overflow: hidden;
}

.task-sidebar {
  flex: 1;
  border-left: 1px solid #ccc;
  padding: 20px;
  overflow-y: auto;
}

.task-button-location{
  padding-left: 15px;
  padding-bottom: 10px;
}

.logout-location{
  text-align: end;
}